#mainHeader {
  padding: 12px 40px;
  border-bottom: 1px solid #e5e8eb;
  background: #fff;
  width: 100%;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.12);
  border-bottom: none;
  position: sticky;
  top: 0;
  z-index: 9999;
}

#mainHeader .container {
  display: flex;
  align-items: center;
}

#mainHeader .logo {
  max-width: 120px;
  width: 100%;
  height: auto;
}

#mainHeader .navbar {
  width: 100%;
  flex: 1 0 0;
  margin-right: 50px;
}

#mainHeader .navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 36px;
}

#mainHeader .navbar .navigation-item a {
  color: var(--primary-font-color);
  font-feature-settings: "dlig" on;
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
}

#mainHeader .navbar .navigation-item a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

#mainHeader #subscribe_Button {
  height: 40px;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #0d78f2;

  color: var(--secondary-font-color);
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 150% */
  border: none;
  cursor: pointer;
  margin-right: 36px;
}

#mainHeader .profile-img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

/* Subscribe Popup */

#mainHeader .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 24, 44, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#mainHeader .popup {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.15);

  max-width: 750px;
  width: 100%;
}

#mainHeader .popup .popup-image {
  height: 230px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 32px;
}

#mainHeader .popup .popup-image img {
  border-radius: 12px;
}

#mainHeader .popup h2 {
  color: #1c140d;
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 125% */
  margin-bottom: 16px;
}

#mainHeader .popup p {
  color: #1c140d;
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 90%;
  margin: auto;
  margin-bottom: 60px;
}

#mainHeader .popup .newletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 75%;
  margin: auto;
}

#mainHeader .popup .newletter-form input {
  padding: 16px;
  width: 100%;
  border-radius: 12px;
  background: #f2ede8;
  border: none;
  color: #1c140d;
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

#mainHeader .popup .newletter-form .checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

#mainHeader .popup .newletter-form .checkbox input {
  width: fit-content;
}

#mainHeader .popup .newletter-form .checkbox label {
  color: #1c140d;
  font-family: var(--primary-font-family);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

#mainHeader .popup .newletter-form button {
  height: 40px;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #0d78f2;

  color: var(--secondary-font-color);
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 150% */
  border: none;
  cursor: pointer;
}

#mainHeader .closeBtn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

#mainHeader .hamburger {
  display: none;
}

#mainHeader #HeaderOverlay.overlay {
  display: flex;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

#mainHeader #HeaderOverlay.overlay.active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 767px) {
  #mainHeader .container {
    justify-content: space-between;
  }

  #mainHeader .logo {
    max-width: 80px;
  }

  #mainHeader .navbar,
  #mainHeader #subscribe_Button,
  #mainHeader .profile-img {
    display: none;
  }

  #mainHeader .hamburger {
    display: block;
    width: 30px;
    height: 30px;
  }

  #mainHeader #HeaderOverlay.overlay {
    justify-content: flex-start; 
  }

  #mainHeader #HeaderOverlay .popup {
    height: 100%;
    border-radius: 0px;
    width: 75%;
  }

  #mainHeader #HeaderOverlay .logo {
    margin: auto;
    margin-bottom: 32px;
  }

  #mainHeader #HeaderOverlay .navbar,
  #mainHeader #HeaderOverlay #subscribe_Button,
  #mainHeader #HeaderOverlay .profile-img {
    display: block;
  }

  #mainHeader #HeaderOverlay .navbar ul {
    align-items: flex-start;
    flex-direction: column;
    gap: 18px;
  }

  #mainHeader #HeaderOverlay .navbar .navigation-item {
    width: 100%;
  }

  #mainHeader #HeaderOverlay .navbar .navigation-item a {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(13, 20, 28, 0.5);
    width: 100%;
    display: block;
    text-align: start;
  }

  #mainHeader #HeaderOverlay .mobile-newletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 48px;
  }

  #mainHeader #HeaderOverlay .mobile-newletter input {
    width: 100%;
    height: 35px;
    padding: 8px 10px;
    border: 1px solid rgba(13, 20, 28, 0.5);
    border-radius: 10px;
    color: var(--primary-font-color);
    font-feature-settings: "dlig" on;
    font-family: var(--primary-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
  }

  #mainHeader #HeaderOverlay .mobile-newletter button {
    height: 40px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #0d78f2;

    color: var(--secondary-font-color);
    text-align: center;
    font-family: var(--primary-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 150% */
    border: none;
    cursor: pointer;
  }

  #mainHeader #HeaderOverlay .mobile-newletter .checkbox {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0px 8px;
  }
  
  #mainHeader #HeaderOverlay .mobile-newletter .checkbox input {
    width: fit-content;
  }
  
  #mainHeader #HeaderOverlay .mobile-newletter .checkbox label {
    color: #1c140d;
    font-family: var(--primary-font-family);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

